
.cards{
    display: flex;
    justify-content: space-evenly;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      
    
}



.card1{

    background-color: white;
    width:350px;
    height: 180px;
    padding: 10px;
    margin: 1px;
    border-radius: 10px;
    border: 1px outset white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.597);
    


}

.card1 h2{
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    font-size: medium;

}

.card2{
    background-color: rgb(39, 21, 99);
    width:350px;
    height: 180px;
    padding: 10px;
    margin: 1px;
    border-radius: 10px;
    border: 1px outset white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.597);
    text-align: center;

}
.card2 p{
    color:rgb(188, 188, 188) ;


}

.rrs{
    font-size: small;
    background-color: white;
    padding: 10px 92px;

    

}
.rrscontent{
    color: white;
}


.card3{
    background-color: white;
    width:350px;
    height: 180px;
    padding: 10px;
    margin: 1px;
    border-radius: 10px;
    border: 1px outset white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.597);
    text-align: center;


}

.card3 h2{
    font-size: medium;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    color: black;

}
.card3 p{
    color: rgb(87, 83, 83);
    font-weight: bolder;
}
.card3 span{
    font-size: larger;
    color: white;
    background-color: rgb(255, 52, 16);
    padding: 5px;
    border-radius: 5px;
}

.card span{
    font-weight: bolder;
}

.card1:hover{
    width:360px;
    height: 190px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;

}

.card2:hover{

    filter: blur(1px);
}







.batch{
    background-color: white;
    margin: 10px;
    border: 1px outset white;
    border-radius: 5px;
    box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.123);

    height: 300px;
    overflow: scroll;
}
.navbatch{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    position: sticky;
    top: 0px;
    background-color: white;
}
.navbatch h2{
    flex: 2;
    padding-left: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 34, 255);

}
.navbatch h3{
    flex: 1;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbatch span{
    color: rgb(255, 115, 0);
    font-size: xx-large;
}


table{
    margin: 0 auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    overflow: scroll;
}
table td{
    padding: 20px 100px;

}
.tableheader{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: radial-gradient(rgb(13, 98, 255),rgb(34, 156, 255));
    position: sticky;
    top: 75px;
}
.tableheader *{
    padding:0px 100px;
}

.tracking{

    display: flex;
    justify-content: space-around;
}
